@mixin worldpay-button {
	// -webkit-border-radius: 20px;
 //    -moz-border-radius: 20px;
 //    -ms-border-radius: 20px;
 //    -o-border-radius: 20px;
 //    border-radius: 20px;
    font-size: 1.14285rem;
}

@mixin top-shadow {

}

@mixin bottom-shadow {

}

@mixin sexy-font {
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	
}

@mixin circle {
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius: 100%;
	background: $wp-red;
	text-align:center;
}

@mixin transition {
	transition: all 0.6s ease;
}